@import '../../assets/styles/variables';

.header {
    padding: 10px 20px;
    box-shadow: $box-shadow;
    color: $primary-color;
    background-color: white;

    img {
        width: 120px;
    }
}