@use '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.header {
    position: relative;
    padding: 10px 20px;
    box-shadow: $box-shadow;
    color: $primary-color;
    background-color: white;

    img {
        width: 120px;
    }
}

.headerList {
    @include mixin.xs {
        display: none;
    }
}

.headerXs {
    display: none;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
        opacity: .8;;
    }

    @include mixin.xs {
        display: block;
    }
}